<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Users" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>

  <Users>
    <!-- key="UserName" value="Id, Password, Name, AddressLine1, AddressLine2, City, Building, Region, Floor Number, Zip, State, Phone Number, Birthday Year, Birthday Day, Birthday Month, PermissionsValue"-->
    <add key="SallySue" value="1234,abc123,Sally Sue,1234 Mock dr.,,,City,Region,1,12345,Oklahoma,123-123-1234,1945,3,12,256"/>
  </Users>
</configuration>